<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   
  
  <div class="actions">
  <% if @note.content  %>
    <%= link_to 'New Note', notes_path, :id=>'new-note-button' %>
  <% else %>
  
  <% end %>
    <%= f.submit %>
  </div>
  <%= f.text_area :title, :class =>'note-inputs col-md-7', :placeholder => 'Enter title here...'  %>
  <br>
  <br>
  <%= f.text_area :content, :class =>'note-inputs col-md-7', :placeholder => 'Type note here...'  %>
  <br>
<%= check_box 'note', 'public', {}, 'true', 'false' %>
  <%= label_tag(:public, "Share with Everyone") %>
<% end %>
<script>
$("tr[data-link]").click(function() {
  window.location = $(this).data("link")
})
$("tr[data-link]").on('mouseenter', function() {
  $(this).css({"background":"purple", 'color':'white'});
})
$("tr[data-link]").on('mouseleave', function() {
  $(this).css({"background":"white",'color':'black'});
})

</script>