<div class='container col-md-5'>
  <div id'top-row'>
    <a href="/notes"><h2>persistem</h2></a>
    <small>
      <% if current_user %>
      Signed in as <%= current_user.email %> (<%= link_to "Log out", session_path("current"), method: :delete %>)
      <% else %>
      <%= link_to "Log In", new_session_path %> | <%= link_to "Sign Up", new_user_path %>
      <% end %>
      <%= link_to 'Generate Quiz', new_quiz_path %>
      <p id='generate-quiz-btn'>Generate Quiz</p>
      <a id='sync-button'>Sync With Evernote</a>
    </small>
  </div>  

  <ul id='notelist-tabs'class='nav nav-pills'><!---->
    <li role='presentation' class="active"><a id='note-list-tab'>Your Notes</a></li>
    <li role='presentation'><a id='notebook-list-tab'>Notebooks</a></li>
    <li role='presentation'><a id='quiz-tab'>Quizzes</a></li>
  </ul>

  <div id='table-container'>
    <table id='private-notes-list'class = 'table'>
    <thead>
      <tr id='table-headers'>
          <th><strong id='table-header1'>Title</strong></th><th><strong id='table-header2'>Notebook</strong></th>
      </tr>
    </thead>

    <tbody>
    </tbody>
  </table>
  </div>
</div>



<!-- ********************************************************************************************* -->


<script>
var notebooks = <%= raw @notebooks.to_json %>;
var myNotes = <%= raw @notes.to_json %>;
var hasBeenInitialSynced = <%= raw @synced %>;

$('#notebook-list-tab, #note-list-tab, #quiz-tab').on('click', function(){
  console.log('clicked');
  $('#notelist-tabs li').removeClass();
  $(this).parent().addClass('active');
  $('#private-notes-list tbody').html('');
})

$('#notebook-list-tab').on('click', function(){
   displayNotebooks(myNotes, notebooks);   
   setUpBindings();
   setTableHeaders('Notebooks', 'Number of Notes');
})
$('#note-list-tab').on('click', function(){
   displayNotes(myNotes, notebooks);
   setTableHeaders('Title', 'Notebook');
   setUpBindings();
})
$('#quiz-tab').on('click', function(){
   getQuizzes();
   setUpBindings();
})

if(!hasBeenInitialSynced) {
  initialSync();
} else {
  normalSync();
}
setCorrectTabActive();
</script>
