
<div class='container col-md-5'>

<div id'top-row'>
  <h2>persistem</h2>
  <small>
    <% if current_user %>
    Signed in as <%= current_user.email %> (<%= link_to "Log out", session_path("current"), method: :delete %>)
    <% else %>
    <%= link_to "Log In", new_session_path %> | <%= link_to "Sign Up", new_user_path %>
    <% end %>
  </small>
</div>

 <h3>Evernote Notes</h3>
   <%if @notebooks%>
       
       <h3>notebooks</h3>
      <% @notebooks.each_with_index do |notebook, i| %>
         <p>notebook name: <%= notebook.name %></p>
        
        <table class ='table'>
          <thead>  <tr> <td>note title</td>> </tr>  </thead>
          <tbody>
             <% @arr_of_arrs_of_notes[i].notes.each do |n| %>
                <tr><td> <%= n.title %></td></tr>
            <% end %>
          </tbody>
        </table>
        <br>
 

      <h3>Notes</h3>
      <table>
        <thead>  <tr><td>note title</td> <td>note book id</td></tr></thead>
        <tbody>
           <% @first_10_notes.notes.each do |n| %>
              <tr><td contenteditable='true'><%= n.title %></td> <td><%= n.notebookGuid %></td></tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <br>
    <br>
    <br>
    <p>below is a samlple of a notes content...</p>
    <p> <%= @evernote_notes_contents[0] %></p>

 <% end %><!--END IF (@notebooks)  -->

 <%= link_to 'Download CSV list of your notes', notes_path(format: :csv) %>
<% if !session[:authtoken] && @current_user %>
 <%= link_to 'Login via Evernote', '/auth/evernote' %>
<% end %>
<% if @current_user && session[:authtoken] %>
  <p>You have authenticated with Evernote.</p>
<% else %>
  <p>Login to your persistem account to authenticate with Evernote.</p>
<% end %>
<br>
</div>