<div class='col-md-5'>
  <div id'top-row'>
    <a href="/notes"><h2>persistem</h2></a>
    <small>
      <% if current_user %>
      Signed in as <%= current_user.email %> (<%= link_to "Log out", session_path("current"), method: :delete %>)
      <% else %>
      <%= link_to "Log In", new_session_path %> | <%= link_to "Sign Up", new_user_path %>
      <% end %>
    </small>
        <button id='generate-quiz-btn' class='btn btn-warning'>Generate Quiz</button>
  </div>  

  <ul id='notelist-tabs'class='nav nav-pills'><!---->
    <li role='presentation' class="active"><a id='note-list-tab'>Your Notes</a></li>
    <li role='presentation'><a id='notebook-list-tab'>Notebooks</a></li>
    <li role='presentation'><a id='quiz-tab'>Quizzes</a></li>
  </ul>

  <div id='table-container'>
    <table id='private-notes-list'class = 'table'>
    <thead>
      <tr id='table-headers'>
          <th><strong id='table-header1'>Title</strong></th><th><strong id='table-header2'>Notebook</strong></th>
      </tr>
    </thead>

    <tbody>
    </tbody>
  </table>
  </div>
</div>



<!-- ********************************************************************************************* -->


<script>
var notebooks = <%= raw @notebooks.to_json %>;
var myNotes = <%= raw @notes.to_json %>;
var hasBeenInitialSynced = <%= raw @synced %>;

$('#notebook-list-tab, #note-list-tab, #quiz-tab').on('click', function(){
  $('#notelist-tabs li').removeClass();
  $(this).parent().addClass('active');
  $('#private-notes-list tbody').html('');
})

$('#notebook-list-tab').on('click', function(){
   displayNotebooks(myNotes, notebooks);   
   setUpTableRowBindings();
   setTableHeaders('Notebooks', 'Number of Notes');
})
$('#note-list-tab').on('click', function(){
   displayNotes(myNotes, notebooks);
   setTableHeaders('Title', 'Notebook');
   setUpTableRowBindings();
})
$('#quiz-tab').on('click', function(){
   getQuizzes();
   setUpTableRowBindings();
})

$('#generate-quiz-btn').on('click', function() {
   $('.right-side-container').html(
    "<div id='quiz-form-container' class=''> \
      <h1>Generate a quiz to test your knowledge.. </h1> \
      <h3 id='quick-generate-header'>Quick Generate...</h3>  \
      <div id='quick-gen-buttons'> \
        <p class='quiz-quick-gen-btn'><a id='generate_quiz_btn' class='btn btn-primary' href='/quiz/generate/new_least_answered'>Random Questions</a></p> \
        <p class='quiz-quick-gen-btn'><a id='' class='btn btn-primary' href='/quiz/generate/new_least_answered'>Least Answered Questions</a></p> \
      <br><br>\
      </div> \
      <h3 id='custom-quiz-header'>Custom Quiz</h3> \
      \
      <form class='new_quiz' id='new_quiz' action='/quiz/generate/custom' accept-charset='UTF-8' method='post'> \
        <input name='utf8' type='hidden' value='✓'> \
        <input type='hidden' name='authenticity_token' value='" + $('meta[name="csrf-token"]').attr('content') + "'> \
        <p id='date-instructions'>Only include questions generated in the last:</p> \
        \
        <div id='date-selectors'> \
          <div class='form-group date'><input value='today' type='checkbox' name='quiz[time_ago]'><span>Day</span> </div> \
          <div class='form-group date'><input value='this_week' type='checkbox' name='quiz[time_ago]'><span>Week</span></div> \
          <div class='form-group date'><input value='this_month' type='checkbox' name='quiz[time_ago]'><span>Month</span></div> \
          <div class='form-group date'><input value='this_year' type='checkbox' name='quiz[time_ago]'><span>Year</span></div> \
          <a id='uncheck'>Uncheck All</a> \
        </div> \
        <p id='popularity-header'>Popularity</p> \
        <div> \
          <input type='checkbox' name='quiz[popular]' value='popular'><span>Popular</span> \
          <input type='checkbox' name='quiz[popular]' checked='true' value='unpopular'><span>Least Answered (default)</span> \
        </div> \
         \
        <p>Select Notebooks...</p> \
        \
        \
        <div id='included-notebooks-list'> \
          <p>Included Notebooks</p> \
        </div> \
        <select id='notebook-select-dropdown' name='quiz[notebooks]'> \
        </select> \
        <input id='notebook-string' type='hidden' name='quiz[notebooks]'> \
        <div class='actions'> \
          <input type='submit' name='commit' value='Create Quiz' id='create-quiz-button' class='btn btn-primary'> \
        </div> \
      </form> \
      \
    </div> \
    ");
    // $('#notebook-select-dropdown').html(" \
    //   <option value='" + "''>1</option> \
    //     <option>1</option> \
    //     <option>1</option> \
    //     <option>1</option> \
    //     ");
    displayNotebookOptions();
    createQuizInputEventBindings();
    
})


if(!hasBeenInitialSynced) {
  initialSync();
} else {
  normalSync();
}
setCorrectTabActive();
setUpTableRowBindings();
</script>
