<%= render 'sidebar' %>

<div class='container'>
  <%= render 'form' %>
  <%= link_to 'Delete Note', @note, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Add a question', new_question_path, remote: true %>
</div>


<%= form_for( @question, remote: true ,:html => {:'data-type' => 'json'})do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_area :text, :class =>'question-inputs col-md-7', :placeholder => 'Type question here...'  %>


 <div class="actions">
    <%= f.submit :id =>'create-question-button' %>
  </div>

  <% end %>


  <script>
  // $('#create-question-button').on('click',function(e){
  //   e.preventDefault();
  //   console.log("cat");
  // })

  $('form#new_question').on('submit',function(e){
    // e.preventDefault();
    console.log('clicked submit');
    //returning False, prevents the default
    $.ajax({
      method: "POST",
      url: '/questions/',
      data: {'note_id' : "<%= @note.id %>",
            'text': $('#question_text').val(),
            'user_id' : '<%= @note.user_id %>',
             "authenticity_token": "<%= form_authenticity_token %>"   },
      success: console.log('success'),
      dataType: 'application/json'
    });
    return false;
  })
  </script>

<!--       params.require(:question).permit(:note_id, :text, :subject_id, :user_id) -->

<!-- 
$.ajax({
  url: '/games/' + currentGame + '/place',
  method: 'POST',
  error: function(phase, message){
    console.log(phase);
    console.log('ajax post failed', message);
    $('.game-square').removeClass('active');
  }  -->