<p id="notice"><%= notice %></p>

<h1>Listing Notes</h1>

<table class='table'>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  
  <h4>Public Notes (currently notes are ALL public by default)</h4>
    <tr><td>Content</td><td></td><td></td><td> </td></tr>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.content %></td>
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<table class = 'table'>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  
         <h4>User's Notes - private and public</h4>
     <tr><td>Content</td><td> </td><td> </td><td> </td></tr>
    <% if @my_notes %>
    <% @my_notes.each do |note| %>
      <tr>
        <td><%= note.content %></td>
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
 


<br>
<% if current_user%>
  <%= link_to 'New Note', new_note_path %>
<% else %>
    <p>Log in to create notes...</p>
<%end %>