<div class='container'>
  <p id="notice"><%= notice %></p>

  <%= render  'sidebar' %>
  <div id='note-title'>
    <h2><%= @note.title %></h2>
  </div>
  <div class='col-md-6' id='note-display-area'>
    <%= @note.content.html_safe %>
  </div>
   <div class='col-md-6'>
    <%= render 'questionlist' %>
    <%= render 'question_entry_form' %>
  </div>
  <%= link_to 'Edit', edit_note_path(@note) %> |
  <%= link_to 'Back', notes_path %>
</div>

<style>
  li ul li{
    position: relative;
    left: -15px;
  }
  #note-display-area {
    max-height: 500px;
    overflow: scroll;
  }
</style>