<div class='container'>
  <p id="notice"><%= notice %></p>

  <%= render  'sidebar' %>
  <%= @note.content.html_safe %>
  <%= link_to 'Edit', edit_note_path(@note) %> |
  <%= link_to 'Back', notes_path %>
</div>

<script>  
$("tr[data-link]").click(function() {
  window.location = $(this).data("link")
})
$("tr[data-link]").on('mouseenter', function() {
  $(this).css({"background":"purple", 'color':'white'});
})
$("tr[data-link]").on('mouseleave', function() {
  $(this).css({"background":"white",'color':'black'});
})

</script>