
  <%= render  'sidebar' %>


  <div class='right-side-container col-md-7'>
    <div id='note-title'>
      <h2><%= @note.title %></h2>
    </div>
    <div class='' id='note-display-area'>
      <%= @note.content.html_safe %>
    </div>
     <div class=''>
      <%= render 'question_entry_form' %>
    <p id="notice"><%= notice %></p>
      <%= render 'questionlist' %>
    </div>
  </div>


<style>
  li ul li{
    position: relative;
    left: -15px;
  }
  #note-display-area {
    max-height: 500px;
    overflow: scroll;
  }
</style>